* {
    padding-left: 10px;
    font-family: "Federant", serif;
}

body {
    background-color: rgb(37, 32, 25);
}

h1 {
    color: rgb(243, 238, 206);;
    text-shadow: 3px 3px 15px rgb(83, 79, 60);;
    margin-left: 78vb;

}


h2 {
    color: rgb(243, 238, 206);;
}

a {
    color: rgb(243, 238, 206);;
    
}

.icon1 {
    
}