* {
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 32, 25);
    font-family: "Federant", serif;
}


span {
    color: white;
    display: inline;
    margin-right: 15px;
    font-size: 55px;

}


.specialtext:hover{
    color: rgb(22, 21, 21);
    text-shadow: 5px 10px 5px;
}

.links {
    color: white;
    display: inline-block;
    text-decoration: none;
    margin: 5px 70px;
    padding: 0px 5px;
    line-height: normal;

}
.links :hover {
    color: rgb(122, 117, 117);
}

.aka {
    font-size: 25px;
    margin : 290px 0px 0px 1070px
}
.hmza {
    font-size: 25px;
    

}
.hmza:hover {
    color: rgb(22, 21, 21);
    text-shadow: 5ps 10px 5px;
    
}

.hover {
   margin-left: 550px;
   margin-top: 50px;
   
    
}

.backer {
    margin: 250px 0px 0px 670px
}

.fa-house {
    color: black;
    font-size: 30px;
    margin-top: 400px;
}

.fa-house:hover {
    color: gray;

}

